@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

*::selection {
    background-color: black;
    color: white;
}

html,
body {
    height: 100vh;
    width: 100%;
}

header {
    height: 10%;
    width: 100%;
    background-color: black;
}

.container-header {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* -------------------------- Social Medias --------------------------*/

.container-header-box-info {
    height: 75%;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.container-header-text {
    cursor: pointer;
}

.container-header-text span,
.container-header-text a {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

.container-header-text span:first-child {
    text-transform: uppercase;
}

.container-header-social-medias {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-header-social-medias a {
    font-weight: 300;
}

.container-header-social-medias a:hover {
    text-decoration: none;
}

.container-header-social-medias-itens {
    font-size: 0.8rem;
}

.container-header-social-medias-itens a {
    color: white;
}

/* -------------------------- End Social Medias --------------------------*/

/* -------------------------- Usefull Links --------------------------*/

.container-header-usefull-links {
    height: 60%;
    width: 35%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-header-usefull-links a {
    height: 2rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
    color: #c3c2c2;
    text-decoration: none;
    text-transform: uppercase;

    transition: 0.3s linear;
}

.container-header-usefull-links a:hover {
    background-color: white;
    border-radius: 5px;
}

/* -------------------------- End Usefull Links --------------------------*/

/* -------------------------- Main --------------------------*/

.container-main {
    height: 90%;
    width: 100%;
    background: url("../img/background.png") no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------- End Main --------------------------*/

/* -------------------------- Container Main Content --------------------------*/

.container-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    height: 20rem;
    width: 30%;

    /* background: red; */
}

.container-main-content-text {
    display: flex;
    flex-flow: column wrap;
    
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.container-main-content-link {
    display: flex;
    justify-content: space-around;
    
    height: 3rem;
    width: 100%;

    /* background: forestgreen; */
}

/* -------------------------- End Container Main Content --------------------------*/

/* -------------------------- Modal --------------------------*/

.open-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 9rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 2px;
    background: #337248;

    position: relative;
    transition: .35s ease-in-out;
}

.open-modal span {
    color: #fff;
    position: relative;
    z-index: 2;
}

.open-modal:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #fff;
    transition: .35s ease-in-out;
}

.open-modal:hover span {
    color: #337248;
}

.open-modal:hover:after {
    height: 100%;
}

.container-modal * {
    color: #000;
}

#fade,
#modal {
    transition: 0.5s ease-in-out;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    height: 310px;
    width: 500px;
    max-width: 90%;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #fff;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.3s linear;
}

#close-modal:hover {
    border-radius: 50%;
}

.modal-body {
    display: flex;
    justify-content: space-between;
}

.modal-body a {
    color: blue;
}

.modal-body p {
    margin-bottom: 1rem;
}

.modal-footer img {
    height: 90px;
    width: 90px;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

/* -------------------------- End Modal --------------------------*/

/* --------------- Open Modal Container Main Content Link ---------------*/

.open-modal__container-main-content-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 45%;

    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: #fff;

    position: relative;
    transition: .35s ease-in-out;
}

.open-modal__container-main-content-link span {
    color: #4c4c4c;
    position: relative;
    z-index: 2;
}

.open-modal__container-main-content-link:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #000;
    transition: .35s ease-in-out;
}

.open-modal__container-main-content-link:hover span {
    color: #fff;
}

.open-modal__container-main-content-link:hover:after {
    height: 100%;
}